include row

mixin content(entries)
    table#content
        thead
            tr
                th key
                th text
        tbody
            each value in entries
                +row(value[0], value[1])
